.imageElement--cover {
    object-fit: cover;
}

.infoCardHeadline {
    font-family: serif;
    font-size: 2.25rem;
    font-family: bold;
    color: black;
    border: 2px solid black;
    padding: 24px;
}

.infoCardCallActionContainer :global(.vtex-button) {
    color: white;
    background-color: gray;
    border: transparent;
}

.infoCardCallActionContainer :global(.vtex-button):hover {
    color: gray;
    background-color: white;
    border: transparent;
}

.infoCardContainer--vintage {
    background-color: #edcfd1;
}

.infoCardContainer {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0;
}